.cabecalho {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(24, 24, 163);
    color: white;
    justify-content: space-between;
    padding: 20px;
    font-size: 200%;
}

.box1 {
    display: grid;
    width: 100%;
    justify-content: center;
    background-color: white;
    grid-template-rows: auto auto auto auto auto;
}

.sobre {
    background-color: rgb(24, 24, 163);
    width: 130px;
    margin-left: 200px;
    margin-top: -120px;
}

.sobre>p {
    color: white;
    padding: 13px;
}

.tabela>img {
    width: 150px;
    height: 100px;
    
}

.trabalhos {
    grid-area: item0;
    text-align: center;
    color: white;
    font-size: 150%;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.tabela {
    display: grid;
    grid-template-areas: 'item0 item0 item0 item0' 
                        'item1 item2 item3 item4';
    background-color: rgb(24, 24, 163);
    width: 650px;
    margin: auto;
    margin-top: 50px;
    gap: 5px;
    justify-content: center;
}

.formulario {
    display: flex;
    padding: 10px;
    justify-content: center;
}