*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(11, 105, 11);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body > header{
    background-color: #0777D9;
}
body > header a{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    padding: 0 0.5rem;
}
#news > article footer{
    background-color: #f4655f;
    color: white;
    padding: 0.15rem;
    margin: 0 0.5rem;
}

#news > article footer a{
 color: white;
    }


body > header h1{
    font-size: 1.7rem;
    padding-bottom: 10px;
}

body > header h2{
    font-size: 0.9rem;
    padding-bottom: 5px;
}

body{
    margin: 0 auto;
    max-width: 900px;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

body > header:first-child{
    padding: 20px;
}

#menu, #related, #news > article, footer{
    background-color: white;

}
#signup a:nth-child(1){
    border-right: 2px solid white;
    padding-right: 0.3rem;
}
#hamburger{
    display: none;
}
#menu{
    text-align: center;
    font-weight: bold;
}
#menu a{
    color: #2A2F33;
}
body > nav > ul > :nth-child(1){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid red;
}

body > nav > ul > :nth-child(2){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid #8aba56;
}

body > nav > ul > :nth-child(3){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid #5b4282;
}

body > nav > ul > :nth-child(4){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid #ff8932;
}

body > nav > ul > :nth-child(5){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid #19b6e9;
}

body > nav > ul > :nth-child(6){
    padding: 15px;
    background-color: transparent;
    border-top: 5px solid #e84c8b;
}
#related{
    background-color: #2A2F33;
    color: white;
    padding: 20px;
}
#related a{
    color: white;
}
#related p{
    padding: 20px 0;
    line-height: 25px;
}
#news > article{
    position: relative;
}
#news > article > header{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}
#news header > h1 > a{
   border-right: 100px;
    color: white;
    text-shadow: 0.25em 0.15em 0.3em black;
}
#news > article p:nth-of-type(1)::first-letter{
   font-size: 2rem;
}
#news > article p{
    padding: 1rem;
    line-height: 1.5rem;
}

form{
    background-color: white;
    padding: 30px;
}





